:root {
  --mobile-width: 320px;
  --mobile-width-only: 767px;
  --tablet-width: 768px;
  --desktop-width: 1280px;

  --font-family: 'PT Sans', Arial, sans-serif;

  --color-main: #42567A;
  --color-white: #ffffff;
  --color-text-blue: #5D5FEF;
  --color-text-pink: #EF5DA8;

}
