@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../../fonts/PTSans-regular.woff2") format("woff2"),
  url("../../fonts/PTSans-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";
  font-display: swap;
  src: url("../../fonts/PTSans-bold.woff2") format("woff2"),
  url("../../fonts/PTSans-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Bebas Neue";
  font-display: swap;
  src: url("../../fonts/bebas-neue-regular.woff2") format("woff2"),
  url("../../fonts/bebas-neue-regular.woff") format("woff");
}
